html {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #2c2e3d;
}
body::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}

/* 1920px, 1170px */
.wrapper {
  max-width: 192rem;
  margin: 0 auto;

}
.wrapper-black{
  background: #1b1b2b;
}
.wrapper--gray-light{
  background: #e8edeb;
}
.wrapper--gray{
  background: #494b58;
}

.container {
  max-width: 117rem;
  margin: auto;
  padding: 0;
}
