@import "variable";

body {
  background: #212744;
  font-family: "Poppins", sans-serif;

  .wrapper {
    .sign-up {
      margin: 0;
      padding: 2rem 10rem;

      .sign-up__inner {
        $col: 2;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat($col, 1fr);
        background: #262c49;
        border-radius: 30px;
        color: #fff;

        .sign-up__banner {
          background-image: url(../images/signup/bg.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 30px;
          padding: 6rem 8rem;

          .sign-up__intro {
            height: 100%;
            padding: 3rem;
            border-radius: 2rem;
            background: rgba(0, 0, 0, 0.452);
            display: flex;
            flex-direction: column;

            .sign-up__logo {
              width: fit-content;
              margin-bottom: auto;
              padding: 0.7rem 2rem;
              background: rgba(255, 255, 255, 0.322);
              position: relative;

              &:after {
                content: "";
                width: 7rem;
                height: 0.5px;
                background: $white-color;
                top: 140%;
                left: 0;
                position: absolute;
              }

              &-child {
                @include textStyle(2, uppercase, $white-color, 600);
                letter-spacing: 2px;
              }
            }
            .sign-in {
              margin-top: auto;
              @include textStyle(1.7, normal);
              padding-top: 3rem;

              &__text {
                font-weight: 500;
              }
              &__link {
                font-weight: 700;
              }
            }
          }
        }

        .sign-up__main {
          margin: 6rem 12rem;
          @include flexbox(stretch, flex-start, unset, column);
          gap: 3em;
          overflow : hidden;

          @mixin btnStyle(
            $bg: transparent,
            $border-color: transparent,
            $color: transparent
          ) {
            @include textStyle(2, normal, $white-color, 500);
            @include flexbox(center, center);
            gap: 1rem;
            padding: 1.6rem;
            border-radius: 10px;
            border: 0.5px solid gray;
            background: gray;

            &.active {
              background: $bg;
              border: 0.5px solid $border-color;
              color: $white-color;
            }
          }

          .sign-up__caption {
            @include textStyle(5, normal);
            text-align: center;
          }

          #sign-up__form {
            // @include hiddenScroll();
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 100%;
            // overflow: hidden;

            .sign-up__list {
              padding: 1rem;
              display: flex;
              flex-direction: column;

              .sign-up__item {
                margin-bottom: 1.5rem;

                &:last-child {
                  margin-bottom: auto;
                }
                .sign-up__title {
                  @include textStyle(1.5, normal, $white-color, 600);
                  margin-bottom: 0.5rem;
                }
                .input-bar {
                  @include textStyle(1.5, normal, gray, 500);
                  @include flexbox(stretch);
                  width: 100%;
                  height: 5rem;
                  border-radius: 10px;
                  border: 1px solid gray;
                  transition: all 0.2s ease;

                  @mixin otherStyle($color: transparent) {
                    border: 1px solid $color;

                    ion-icon {
                      color: $color;
                    }
                  }
                  &.is-focus {
                    @include otherStyle(#1dbf92);
                  }
                  &.is-valid {
                    @include otherStyle(#1dbf92);
                    & ~ .form__mess {
                      display: none;
                    }
                    & > .input-bar__icons .icon__valid {
                      display: block;
                    }
                  }
                  &.is-invalid {
                    @include otherStyle(red);

                    & ~ .form__mess {
                      display: block;
                    }
                    & > .input-bar__icons .icon__invalid {
                      display: block;
                    }
                  }

                  &__icons {
                    @include flexbox(center, center);
                    min-width: max-content;
                    padding: 0 2rem;
                    margin-right: auto;

                    .input-bar__icon {
                      font-size: 2.2rem;

                      &.right {
                        display: none;
                      }
                    }
                  }
                  &__input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: $white-color;
                    background: none !important;
                  }
                  #btn__getcode {
                    min-width: max-content;
                    margin-left: auto;
                    padding: 0 1.3rem;
                    font-size: 1.3rem;
                    text-transform: capitalize;
                    border: none;
                    background: none;
                    color: gray;

                    &.active {
                      color: $white-color;
                    }
                  }
                }
                .form__mess {
                  color: red;
                  font-size: 1.5rem;
                  margin: 0.7rem 0 0 2rem;
                  transition: all 0.3s ease;
                  display: none;
                }
              }
              // #item-code {
              //   display: none;
              //   transition: 1.4s all ease;
              // }

              .form__btns {
                display: flex;
                gap: 2rem;

                .form__btn {
                  @include btnStyle(#1dbf92);
                  margin-top: 3.5rem;
                  min-width: max-content;
                  width: 100%;
                }

                #btn__back{
                  width: 30%;
                }
                #btn__submit{
                  width: 80%;
                }
              }
            }
          }

          .sign-up__separation {
            @include flexbox(center, center);

            .sign-up__text {
              @include textStyle(1.3, lowercase, gray);
              position: relative;
              width: fit-content;
              padding: 0 1.7rem;

              @mixin separationStyle {
                position: absolute;
                content: "";
                width: 10rem;
                height: 0.5px;
                background: gray;
                top: 50%;
              }
              &:after {
                @include separationStyle();
                right: 100%;
              }
              &:before {
                @include separationStyle();
                left: 100%;
              }
            }
          }

          .sign-up__socials {
            .sign-up__social {
              @include btnStyle(transparent, #1dbf92);
              width: 100%;

              &:not(:last-child) {
                margin-bottom: 3.5rem;
              }

              .sign-up__social-icon {
                @include flexbox(center, center);
              }
            }
          }
        }
      }
    }
  }
}
