@import "variable";

.wrapper {
  $bg-slider-main: #2c2e3d;
  
  .slider-main {
    position: relative;
    width: 100%;
    height: 95.9rem;
    margin: 0 auto 20rem;
    background-color: $bg-slider-main;
    overflow: hidden;

    .slider__arrows {
      @mixin arrowStyle {
        $arrow-size: 8rem;

        @include positionStyle(
          absolute,
          calc(50% - ($arrow-size / 2)),
          unset,
          unset,
          unset,
          $arrow-size,
          $arrow-size,
          4
        );
        @include flexbox(center, center);
        cursor: pointer;
        color: $white-color;
        background-color: #212331;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

        &:hover {
          background-color: $secondary-color;
          cursor: pointer;
        }
        .arrow__icon {
          font-size: calc($arrow-size / 1.8);
        }
      }

      .slider__arrow-left {
        @include arrowStyle();
      }
      .slider__arrow-right {
        @include arrowStyle();
        right: 0;
      }
    }

    .slider__paginations {
      @include positionStyle(
        absolute,
        unset,
        5%,
        unset,
        unset,
        100%,
        fit-content,
        3
      );
      @include flexbox(center, center);
      color: $white-color;
      $pagingSize: 2.4rem;

      .slider__pagination {
        width: $pagingSize;
        height: $pagingSize;
        box-shadow: 0 0 0 4px $white-color;
        border: 4px solid $bg-slider-main;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:not(:last-child) {
          margin-right: 2.2rem;
        }

        &.active {
          background-color: $secondary-color;
        }
      }
    }

    .slider__container {
      @include positionStyle(absolute, 0, 0, 0, 0, 100%, 100%, 3);

      .slider__wrapper {
        @include hiddenScroll();
        @include flexbox(center, flex-start);
        height: 100%;
        overflow: hidden;

        .slider__slide {
          min-width: 100%;

          .slider__img {
            @include flexbox(center, center);
            margin-bottom: 11.3rem;
          }

          .slider__captions {
            @include flexbox(center, center);
            margin-bottom: 6.5rem;
            line-height: 0.7;
            color: $white-color;

            .slider__caption {
              font-size: 7rem;
              text-transform: uppercase;

              &:not(:last-child) {
                margin-right: 2rem;
              }

              &.thin {
                font-weight: 200;
              }
              &.bold {
                font-weight: 600;
              }
            }
          }

          .slider__text {
            @include overflowText(5);
            margin-bottom: 8rem;
            text-align: center;
            font-size: 2.4rem;
            color: $bg-gray-2-color;
          }

          .slider__buttons {
            @include flexbox(center, center);
            .slider__button {
              @include textStyle(1.9, uppercase, $white-color, 700);
              padding: 0.8rem 1.7rem;
              border: 3px solid $white-color;
              border-radius: 3rem;
              cursor: pointer;

              &:hover {
                border: 3px solid $secondary-color;
                color: $secondary-color;
              }

              &:not(:last-child) {
                margin-right: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
  .slider.ad-blockk {
    @include positionStyle(absolute, 0rem, 0rem, 0rem, 0rem, 100%, 95.9rem, 2);
    background-color: $bg-slider-main;
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 20rem;

    .slider__arrows {
      @mixin arrowStyle {
        $arrow-size: 8rem;

        @include positionStyle(
          absolute,
          calc(50% - ($arrow-size / 2)),
          unset,
          unset,
          unset,
          $arrow-size,
          $arrow-size,
          4
        );
        @include flexbox(center, center);
        cursor: pointer;
        color: $white-color;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        background-color: #212331;

        &:hover {
          background-color: $secondary-color;
          cursor: pointer;
        }
        .arrow__icon {
          font-size: calc($arrow-size / 1.8);
        }
      }

      .slider__arrow-left {
        @include arrowStyle();
      }
      .slider__arrow-right {
        @include arrowStyle();
        right: 0;
      }
    }

    .slider__paginations {
      @include positionStyle(
        absolute,
        unset,
        5%,
        unset,
        unset,
        100%,
        fit-content,
        3
      );
      @include flexbox(center, center);
      color: $white-color;
      $pagingSize: 2.4rem;

      .slider__pagination {
        width: $pagingSize;
        height: $pagingSize;
        box-shadow: 0 0 0 4px $white-color;
        border: 4px solid $bg-slider-main;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:not(:last-child) {
          margin-right: 2.2rem;
        }

        &.active {
          background-color: $secondary-color;
        }
      }
    }

    .slider__container {
      @include positionStyle(absolute, 0, 0, 0, 0, 100%, 100%, 3);

      .slider__wrapper {
        @include hiddenScroll();
        @include flexbox(center, flex-start);
        height: 100%;
        overflow: hidden;

        .slider__slide {
          min-width: 100%;

          .slider__details {
            color: #fff;
            @include flexbox(center, center, nowrap, column);

            .ad-blockk__icon {
              border: 0.4rem solid #acac67;
              padding: 1.7rem;
              border-radius: 50%;
              margin-bottom: 7.5rem;
            }
            .ad-blockk__title {
              @include textStyle(10, uppercase, $white-color, 200);
              line-height: 0.7;
              margin-bottom: 9.5rem;
            }
            .ad-blockk__decs {
              @include textStyle(2.4, normal, $white-color, 300);
              @include overflowText(3);
              margin-bottom: 9.5rem;
            }
            .ad-blockk__btn {
              @include textStyle(1.9, uppercase, #4ec3c9, 600);
              padding: 1rem 2rem;
              border: 4px solid #4ec3c9;
              border-radius: 4rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
